@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewData["Title"] = "Edit User";
}

<h1>Edit user page</h1>

<form class="row g-3">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="1234 Main St">
    </div>

    <div class="col-md-4">
        <label for="inputState" class="form-label">Role</label>
        <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>Admin</option>
            <option>Manager</option>

        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
</form>