@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewData["Title"] = "All Users";
}

<h1>All users page</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Komla</td>
            <td>komla@gmail.com</td>
            <td>Admin</td>
            <td>
                <span>Edit</span>
                <span>Details</span>
            </td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>Wise</td>
            <td>wise@gmail.com</td>
            <td>Admin</td>
            <td>
                <span>Edit</span>
                <span>Details</span>
            </td>
        </tr>


    </tbody>
</table>