@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewData["Title"] = "Home";
    var welcomeText = ViewData["WelcomeText"];
    var learnText = ViewData["LearnText"];
}

<div class="text-center">
    <h1 class="display-4">@welcomeText</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core"> @learnText</a>.</p>
</div>
