@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewData["Title"] = "Roles";
}

<h1>All roles page</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Role Name</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Admin</td>
            <td>
                <span>Edit</span>
                <span>Details</span>
            </td>
        </tr>

        <tr>
            <th scope="row">1</th>
            <td>Manager</td>
            <td>
                <span>Edit</span>
                <span>Details</span>
            </td>
        </tr>
    </tbody>
</table>