@model List<string>

<div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
        @foreach (var item in Model)
        {
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                    <i class="bi bi-archive"></i>
                    @item
                </a>
            </li>
        }
    </ul>
</div>
